BackendAppServer/.idea/
BackendAppServer/.slcache/
BackendAppServer/target/

node-frontend/lib-cov
node-frontend/*.seed
node-frontend/*.log
node-frontend/*.csv
node-frontend/*.dat
node-frontend/*.out
node-frontend/*.pid
node-frontend/*.gz

node-frontend/pids
node-frontend/logs
node-frontend/results

node-frontend/npm-debug.log
node-frontend/node_modules
